*  {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.App {
  background: #f7f7f7;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: #c4c4c4;
}
